:root {
  --color-text-primary: #333333;
  --color-text-secondary: #637282;
  --color-background: #eeeeee;
  --color-background-highlight: #fff7e0;

  --top-padding: 92px;
  --main-width: 745px;
  --line-height: 26px;

  --font-size-nav-toc: 12px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: #bcc1c6;
    --color-text-secondary: #9d9b99;
    --color-background: #1a1a1a;
    --color-background-highlight: #6a4f00;
  }
}

img[src^="/assets/img/dark"] {
  display: none;
}
img[src^="/assets/img/light"] {
  display: inherit;
}
@media (prefers-color-scheme: dark) {
  img[src^="/assets/img/dark"] {
    display: inherit;
  }
  img[src^="/assets/img/light"] {
    display: none;
  }
}

h1:first-child {
  margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a,
strong {
  color: var(--color-text-primary);
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: var(--top-padding);
  background-color: var(--color-background);
  font-size: 1.2em;
  line-height: 1.62;
  font-family: sans-serif;
}

.centered-content {
  max-width: var(--main-width);
  margin: 0 auto;
}
@media screen and (max-width: 745px) {
  .centered-content {
    padding: 0 1em;
  }
}

/* Table of contents */

#TOC {
  font-size: var(--font-size-nav-toc);
  line-height: var(--line-height);
  max-width: var(--main-width);
  margin: 0 auto;
}
#TOC ul {
  list-style: none;
  padding-inline-start: 18px;
}
#TOC > ul > li:first-child > a {
  font-weight: bold;
}
#TOC a {
  text-decoration: none;
}
@media screen and (min-width: 1364px) {
  #TOC {
    margin: 0;
    position: sticky;
    float: left;
    top: 0;
    max-width: calc((100vw - var(--main-width)) / 2 - 2 * var(--line-height));
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

header {
  font-size: 1.2em;

  p {
    display: inline-block;
  }

  #title-header {
    display: block;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  a {
    padding-right: 0.5em;
  }
}

footer {
  text-align: right;

  a {
    padding-left: 0.75em;
  }
}

blockquote {
  margin: 0;
  padding: 0.5em;
  background-color: var(--color-background-highlight);
}

blockquote p {
  margin: 0;
}

blockquote pre {
  margin: 0.4em;
}

img,
video {
  width: 100%;
}
pre {
  max-width: 100%;
  overflow-x: auto;
}
table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

/* show the anchor links in headings if one hovers over the heading. */
.anchor::before {
  content: "🔗";
  display: inline-block;
  position: absolute;
  right: 0.25em;
  font-size: 80%;
  line-height: 1.5;
  opacity: 0.15;
  width: 1.5em;
}
.anchor:hover {
  text-decoration: none;
}

h1:hover > .anchor::before,
h2:hover > .anchor::before,
h3:hover > .anchor::before,
h4:hover > .anchor::before,
h5:hover > .anchor::before,
h6:hover > .anchor::before {
  opacity: 1;
}
/* end: heading anchor links */

.published-date {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: 0.9em;
}
