body {
  max-width: 40em;
  margin: auto;
  padding: 1.5em;
}
header {
  font-size: 1.2em;
}
footer {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  li,
  p,
  a {
    color: #f0f6fc;
  }

  pre {
    background-color: #232327;
    padding: 1em;
  }
}

img,
video {
  width: 100%;
}
pre {
  max-width: 100%;
  overflow-x: auto;
}
table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}
