:root {
  --primary: #669900;
  --background: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
  }
}

body {
  max-width: 40em;
  margin: auto;
  padding: 1.5em;
  font-size: 1.2em;
  line-height: 1.62;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

header {
  font-size: 1.2em;
}

footer {
  text-align: right;
}

blockquote {
  margin: 0;
  background-color: #ffffe0;
  padding: 0.5em;
}

blockquote p {
  margin: 0;
}

blockquote pre {
  margin: 0.4em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  a,
  strong {
    color: #f0f6fc;
  }

  blockquote {
    /* background-color: #232327; */
  }

  blockquote {
    margin: 0;
    background-color: #b0a565;
  }

  blockquote p {
    margin: 0;
  }
}

img,
video {
  width: 100%;
}
pre {
  max-width: 100%;
  overflow-x: auto;
}
table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}
